*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   
   
}

.clear{
    clear: both;
}

#main{

}

#Header_Laptop{
   height: 45px;
   background-color: yellow;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1; 
}




#choose li{
    display: inline-block;  
    
}

#choose li:hover a{
    color: #fff;
    background-color: #ddd;
   
}

#choose li a{
    color: #000;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    text-transform: uppercase;
}

#sider .img_laptop{
    width: 100%;
    margin-top: 45px;
}

     /* xong phan header  */


    /* begin content*/

#content{
   margin-left: auto;
   margin-right: auto;
}

#content .content-section{
   
}

#content .section-header{
    margin-left: 32px;
}

#content .section-sub{
    margin: 12px 32px;
}

#content .content-img{
    width: 100%;
    margin-bottom: -4px;
}

.content-section .section-header{
    margin: 16px 8px;
}

    /*content laptop*/

.content-laptop-img{
    margin-left: 0;
    margin-right: 0;
    background-color: #469274;
    
}

#content .menber-laptop{
    float: left;
    width: 23%;
    margin: 32px 15px;
    padding: 8px 8px;
    cursor: pointer;
    min-height: 600px;
    box-shadow: 0 0 10px rgb(12, 12, 12);
    background-color: #fff;
    
}

#content .menber-laptop:hover{
    transform: translateY(-10px);

}

.Content-item-Mac{
    padding: 4px 4px;
}



.img-MacBook{
    width: 100%;
}


 /* css cho bảng giá  */

.uday-hs{
    color: #fff;
    background-color: rgb(252, 4, 4);
    border-radius: 12px;
    padding: 0 8px;
    
}



.Gia-cu{
    text-decoration: line-through;
    display: inline-block;
    padding-right: 8px;
    margin: 8px 0;
}

.chon-mua{
    display: block;
    font-size: 16px;
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
    padding: 8px 8px;
}

.chon-mua:hover{
    color: blue;
    opacity: 0.2px;
    background-color: #ccc;
}

.online{
    color:#fff;
    display: block;
    background-color: red;
    border-radius: 12px;
    padding: 0 8px;
    width: 170px;
}

/* danh gia */
.content-iteam{
    margin: 8px 0;
}

.stat-iteam{
    color: #fb6e2e;
    
}

.stat-iteam-1{
   color:#bdbdbd;
}
   




